
 <div class= "container">
    <div class = "card mt-4">
        <form #myForm ="ngForm" (ngSubmit)="editBook()">
        <div class ="card-header bg-primary text-white display-4"> Edit Book</div>
        <div class ="card-body "> 
            <div class="form-group">
                <label for="bookName">Book Name : * </label>
                <input 
                    type="text" 
                    class="form-control mx-2" 
                    placeholder="Enter title name" 
                    id="title"
                    name="title"
                    required
                    minlength='3'
                    maxlength='20'
                    #myBookName="ngModel"
                    [(ngModel)]="editBookData.title">
                    <span *ngIf="myBookName.touched && myBookName.errors?.required" class="text-danger small" >
                        Book Name is mandatory!
                    </span>
                    <span *ngIf="myBookName.touched && myBookName.errors?.minlength" class="text-danger small" >
                        Book Name should be min of 3 characters!
                    </span>
            </div>
            <div class="form-group">
                <label for="author">Author Name : </label>
                <input 
                    type="text" 
                    class="form-control mx-2" 
                    placeholder="Enter Author Name" 
                    id="author"
                    name="author"
                    required
                    minlength='3'
                    maxlength='20'
                    #myAuthorName="ngModel"
                    [(ngModel)]="editBookData.author">      
                    <span *ngIf="myAuthorName.touched && myAuthorName.errors?.required" class="text-danger small" >
                        Author Name is mandatory!
                    </span>
                    <span *ngIf="myAuthorName.touched && myAuthorName.errors?.minlength" class="text-danger small" >
                        Author Name should be min of 2 characters!
                    </span>
                   
            </div>
            <div class="form-group">
                <label for="description">Description :</label>
                <input 
                    type="type" 
                    class="form-control mx-2" 
                    placeholder="Enter book description" 
                    id="description"
                    name="description"
                    [(ngModel)]="editBookData.description">
                   
            </div>
            <div class="form-group">
                <label for="price">Book price :</label>
                <input 
                    type="number" 
                    class="form-control mx-2" 
                    placeholder="Enter book price" 
                    id="price"
                    name="price"
                    required
                    #myBookPrice="ngModel"
                    [(ngModel)]="editBookData.price">
                    <span *ngIf="myBookPrice.touched && myBookPrice.errors?.required" class="text-danger small" >
                        Price is mandatory!
                     </span>
                    
            </div>
            <div class="form-group">
                <label for="publishDate">publishDate :</label>
                <input 
                    type="date" 
                    class="form-control mx-2" 
                    id="publishDate"
                    [(ngModel)]="editBookData.publishDate">
                    
            </div>
            <div class="form-group">
                <label for="lastUpdatedOn">lastUpdatedOn :</label>
                <input 
                    type="date" 
                    class="form-control mx-2" 
                    id="lastUpdatedOn"
                    [(ngModel)]="editBookData.lastUpdatedOn">
                    
            </div>
            <div class="form-group">
                <label for="image">Book Image URL:</label>
                <input 
                    type="type" 
                    class="form-control mx-2" 
                    placeholder="Enter book image url" 
                    id="image"
                    name="image"
                    [(ngModel)]="editBookData.image">
                </div>
        </div>
        <div class ="card-footer"> 
            <button 
            type="submit" 
            class="btn btn-success"  
            [disabled]="myForm.invalid">EditBook </button>
            <button 
                type="submit" 
                class="btn btn-danger mx-2 float-right"
                 (click)="back()"> Back </button>
        </div>
        
        </form>
    </div>
    </div> 
    




