.nav-link:hover {
    position:relative;
    top:px;
    left:3px;
    height:auto;
    display:block;
  }
  
  .navbar {
    padding-top: 5px !important;
    padding-bottom: 1px !important;
    min-height: 40px !important;
  }