<form  (ngSubmit)="back()"> 
    <i class="bi bi-arrow-left-circle-fill"></i>
    <button 
        type="submit" 
        class="btn ">back</button>
</form>
    
 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5"> 
   

   
    <div class="d-flex justify-content-center">   
<div class="col mb-4">
    <div class="card"style = "width :500px" >
      <img src="https://images.unsplash.com/photo-1495446815901-a7297e633e8d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="card-img-center" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
</div>
</div> 
 