<div class= "container">
    <div class = "card mt-4">
        <form #myForm = "ngForm" (ngSubmit)="addBook(myForm)">
       
        <div class ="card-header bg-primary text-white display-4"> Add Book to Store</div>
        <div class ="card-body "> 
            <div class="form-group">
                <label for="bookName">Book Name : </label>
                <input 
                    type="text" 
                    class="form-control mx-2" 
                    placeholder="Enter Book name" 
                    id="bookName"
                    name="bookName"
                    required
                    [(ngModel)]="addBookData.title">
                   <!-- <span *ngIf="myProdName.touched && myProdName.errors?.required" class="text-danger small" >
                        Product Name is mandatory!
                    </span>
                    <span *ngIf="myProdName.touched && myProdName.errors?.minlength" class="text-danger small" >
                        Product Name should be min of 3 characters!
                    </span> -->
            </div>
            <div class="form-group">
                <label for="author">Author Name : </label>
                <input 
                    type="type" 
                    class="form-control mx-2" 
                    placeholder="Enter Author Name"
                    id="author"
                    name="author"
                    [(ngModel)]="addBookData.author">
            </div>
            <div class="form-group">
                <label for="description">Description : </label>
                <input 
                    type="type" 
                    class="form-control mx-2" 
                    placeholder="Enter book description" 
                    id="description"
                    name="description"
                    [(ngModel)]="addBookData.description">
            </div>
            <div class="form-group">
                <label for="price">Book price:</label>
                <input 
                    type="number" 
                    class="form-control mx-2" 
                    placeholder="Enter book price" 
                    id="price"
                    name="price"
                    [(ngModel)]="addBookData.price"> 
            </div>
            <div class="form-group">
                <label for="publishDate">publishDate:</label>
                <input 
                    type="date" 
                    class="form-control mx-2" 
                    id="publishDate"
                    name="publishDate"
                    [(ngModel)]="addBookData.publishDate"> 
            </div>
            <div class="form-group">
                <label for="lastUpdatedOn">lastUpdatedOn:</label>
                <input 
                    type="date" 
                    class="form-control mx-2" 
                    id="lastUpdatedOn"
                    name="lastUpdatedOn"
                    [(ngModel)]="addBookData.lastUpdatedOn"> 
            </div>
            <div class="form-group">
                <label for="bookImageUrl">Book Image URL:</label>
                <input 
                    type="type" 
                    class="form-control mx-2" 
                    placeholder="Enter book image url" 
                    id="image"
                    name="image"
                    [(ngModel)]="addBookData.image">
                </div>

        </div>
        <div class ="card-footer"> 
            <button 
            type="submit" 
            class="btn btn-success"
            [disabled]="myForm.invalid">Add Book </button>
            <button class="btn btn-danger mx-2 float-right" type="submit" (click)="back()">Back</button>
        </div>
        
        </form>
    </div>
    </div>
    <!-- {{ myForm.value | json }}
    <br>
    product Name invalid :{{myProdName.invalid}}
    <br>
    product Name valid :{{myProdName.valid}}
    <br>
    product Name status :{{myProdName.status}}
    <br>
    product Name touched :{{myProdName.touched}}
    <br>
    product Name dirty :{{myProdName.dirty}}
    <br>
    product Name errors required :{{myProdName.errors?.required}}
    <br>
    product Name errors minlength :{{myProdName.errors?.minlength}}
    <br>
     -->