<!-- <div class="container"> -->

    <!-- <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4"> -->

        <!-- <div class="row row-cols-1 row-cols-md-2 g-4" style="width: 2000px;">
          <div class="col">
        <ul>
           
               <h2>My cart</h2>
    
        <div class="cart-item" *ngFor="let item of items">
          <li>
            <span>{{ item.title }}</span>
            <span>{{ item.price | currency }}</span>
            <button type= "button "class ="btn-danger" (click)= "clearCart(item.bookId)">Delete</button>  
          </li>
          </div>
          <button type="button" class ="btn-secondary"(click)="placeOrder()">place order</button> 
 
 
</ul> -->
<!-- <div class="container"> -->
<div class= "container mt-4" style="background-color: white;" *ngFor="let item of items">
  
  
      <div class="d-flex justify-content-between">
       
                  <div class="col"> <h5 style="color: cornflowerblue;">Title:</h5>
                          <p>{{item.title}}
                          </p>
                  
                    </div>
                    <div class="col">
                      <h5 style="color: cornflowerblue;">Author: </h5>
                      <p>{{item.author}}
                      </p>
                      
                    </div>
                    <div class="col">
                      <h5 style="color: cornflowerblue;">Price:$</h5>
                          <p>{{item.price}}
                          </p>
                 <div>      
              <button class="btn btn-danger" (click)= 'clearCart(item.bookId)'>Delete</button>
          </div>
        </div> 
      </div>
      </div>
      <button type="button" class ="btn-success btn-rounded btn-lg btn-block"(click)="placeOrder()">
        <b>PLACE ORDER</b></button>
    <!-- </div> -->
       