<div class="container">
    <div class="card text-black" style="text-align: center;font-family:cursive">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active"
            style="color:white">

            <h2 class="mb-1" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                Leave a comment</h2>

        </a>
        <form (ngSubmit)="submit(BookData.title)">
            <p style="color: Black">Rate the Book</p>

            <div class="rating"> <input type="radio" name="rating" value="5" id="5" [(ngModel)]=reviewData.rating>
                <label for="5">
                    ☆
                </label>
                <input type="radio" name="rating" value="4" id="4" [(ngModel)]=reviewData.rating>

                <label for="4">☆
                </label>
                <input type="radio" name="rating" value="3" id="3" [(ngModel)]=reviewData.rating>
                <label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2" [(ngModel)]=reviewData.rating>
                <label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1" [(ngModel)]=reviewData.rating>
                <label for="1">☆</label>
            </div>


            <div class="form-group row-4">
                <div class="col row-cols-md-1">
                    <label for="title" style="font-family:cursive;">
                        <h5>Comment Box</h5>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Your Comment..." id="comment"
                        name="comment" [(ngModel)]=reviewData.comment>
                </div><br>

                <div class="form-group row-cols-1">
                    <div class="col row-cols-md-1">
                        <label for="title" style="font-family:cursive">
                            <h5>Title</h5>
                        </label>
                        <input type="text" class="form-control mx-2" placeholder="Enter Book Title..." id="title"
                            name="title" [(ngModel)]=reviewData.headLine>
                    </div>
                </div>

                <button class="btn" type="submit">
                    Submit Review
                </button>
            </div>
        </form>

    </div>
</div>