.card{
    border-radius: 4px;
    background: rgb(44, 43, 43);
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 50px 18px 36px;
}

.card {
    box-shadow: 0 20px 40px grey;
    border-radius: 20px;
    padding-bottom: 10px
} 

  .card{
 /* background-image: url(https://st2.depositphotos.com/3840453/7446/i/600/depositphotos_74466129-stock-photo-empty-wooden-table-and-modern.jpg); */
      background-repeat: no-repeat;
      background-position:center;
      background-size: 1000px;
 
  }
  /* .btn-rounded {
    border-radius: 10rem;

 } */
/* .card {
  flex-direction: row;
}
.card img {
  width: 30%;
} */




/* --------button------------- */
.btn {
    border: 1px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    /* -webkit-background-clip: text !important; */
    -webkit-text-fill-color:deeppink!important;
    border-image-source:  var(--gradient) !important; 
    text-decoration: none;
    transition: all .4s ease;
  }
  
   .btn:focus {
        background: var(--gradient) !important;
  
    -webkit-text-fill-color:white !important;
    border: 5px solid #fff !important; 
    box-shadow:blue 1px 0 10px;

  }

  .scroll {
    max-height: 1000px;
    overflow-y: auto;
}