
.card{
    border-radius: 1px;
    background: rgb(44, 43, 43);
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
   
}

.card {
    box-shadow: 0 10px 30px grey;
    border-radius: 20px;
    padding-bottom: 10px
} 

  .card{
 background-color: black;
      background-repeat: no-repeat;
      background-position:center;
      background-size: 5000px;
 
  }
  /* .btn-rounded {
    border-radius: 10rem;

 } */
/* .card {
  flex-direction: row;
}
.card img {
  width: 30%;
} */




/* --------button------------- */
.btn {
    border: 1px solid white;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-text-fill-color:deeppink!important;
    border-image-source:  var(--gradient) !important; 
    text-decoration: none;
    transition: all .4s ease;
  }
  
   /* .btn:focus {
        background: var(--gradient) !important;
    -webkit-text-fill-color:white !important;
    border: 5px solid #fff !important; 
    box-shadow:blue 1px 0 10px;

  } */

