

  <div class="container">
    <!-- <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4"> -->
        <div class="row row-cols-1 row-cols-md-2 g-4" style="width: 2000px;">
          <div class="col">
          
   
      <div class="card-columns">
      <!-- <div class="row">-->
      
        <div class="card" *ngFor = "let bookint of allBook"  >
          <img [src]="bookint.image"class="card-img-top" alt="...">  
          <form  (ngSubmit)="view(bookint.title)"> 
          
              <div class="card-body "  >
                <div class="card-title" >
          </div>
                   <p>bookName ={{bookint.title}}</p> 
                </div>
                 <div class="card-footer "> 
          <!-- <button style="background: url(myimage.png)" ... /> -->
                    <button class="btn btn-theme" type="submit" id="more" >view</button>
                    <button class="btn btn-theme float-right" type="submit" id="toright">Add to cart</button> 
                </div> 
              </form>
          </div>
        
        <!-- </div> -->

      </div> 
  
</div>
 </div>
  <!-- </div> -->
    
    
      
   
  <!-- /.container -->