<div class="container">
    <div class="card mt-4">
        <form (ngSubmit)="Register()"> 
        <div class="card-header bg-primary text-white display-4">
            Registration Form
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="fullName">Fullname:*</label>
                <input 
                    type="text" 
                    class="form-control mx-2" 
                    placeholder="Enter Full name" 
                    id="fullName"
                    name="fullName" 
                     [(ngModel)]="addCustomerData.fullName"> 
            </div>
            <div class="form-group">
                <label for="email">Email:*</label>
                <input 
                    type="text" 
                    class="form-control mx-2" 
                    placeholder="Enter email" 
                    id="Email"
                    name="Email" 
                     [(ngModel)]="addCustomerData.userPojo.email"> 
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input 
                    type="password" 
                    class="form-control mx-2" 
                    placeholder="Enter password" 
                    id="password"
                    name="password"
                     [(ngModel)]="addCustomerData.userPojo.password"> 
            </div>
            <div class="form-group">
                <label for="MobileNO:">MobileNO:*</label>
                <input 
                    type="text" 
                    class="form-control mx-2" 
                    placeholder="Enter mobile number" 
                    id="MobileNO"
                    name="MobileNO" 
                     [(ngModel)]="addCustomerData.mobileNumber"> 
            </div>
            <div class="form-group">
                <label for="username">Username:*</label>
                <input 
                    type="text" 
                    class="form-control mx-2" 
                    placeholder="Enter username" 
                    id="username"
                    name="username" 
                     [(ngModel)]="addCustomerData.userPojo.username"> 
            </div>
            <div class="form-group">
                <label for="city">City:</label>
                <input 
                    type="text" 
                    class="form-control mx-2" 
                    placeholder="Enter cityname" 
                    id="city"
                    name="city" 
                     [(ngModel)]="addCustomerData.addressPojo.city"> 
            </div>
            <div class="form-group">
                <label for="address">Address:*</label>
                <input 
                    type="text" 
                    class="form-control mx-2" 
                    placeholder="Enter username" 
                    id="address"
                    name="address" 
                     [(ngModel)]="addCustomerData.addressPojo.address"> 
            </div>
            <div class="form-group">
                <label for="country">Country:*</label>
                <input 
                    type="text" 
                    class="form-control mx-2" 
                    placeholder="Enter countryname" 
                    id="countryname"
                    name="countryname" 
                     [(ngModel)]="addCustomerData.addressPojo.country"> 
            </div>
            <div class="form-group">
                <label for="pincode">Pincode:*</label>
                <input 
                    type="text" 
                    class="form-control mx-2" 
                    placeholder="Enter pincode" 
                    id="pincode"
                    name="pincode" 
                     [(ngModel)]="addCustomerData.addressPojo.pincode"> 
            </div>
            <div class="form-group">
                <label for="registerOn">Register Date:*</label>
                <input 
                    type="date" 
                    class="form-control mx-2" 
                    placeholder="Enter register date" 
                    id="registerdate"
                    name="registerdate" 
                     [(ngModel)]="addCustomerData.registerOn"> 
            </div>
        </div>    
        
        <div class="card-footer">
            <button 
                type="submit" 
                class="btn btn-primary">Register</button>
        </div>
        </form>
    </div>
    </div>
    